body {
  background-color: rgb(20, 51, 120);
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.timer {
  text-align: center;
  font-size: 20px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  color: black;
  padding: 6px 6px;
  height: auto;
  margin-top: 1px;
  cursor: pointer;
}

.lives {
  text-align: center;
  font-size: 20px;
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  color: black;
  height: 40px;
  width: 60px;
  cursor: pointer;
  height: 35px;
  padding-bottom: 0px;
}

table {
  margin: 20px auto;
  font-size: x-large;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.683);
}

.shown {
  background-color: white;
}

.hide {
  display: none;
}

.levels button {
  background-color: rgb(143, 83, 160);
  color: rgb(211, 232, 251);
  width: 120px;
  height: 60px;
  border: none;
}

.restart-on-game {
  background-color: rgb(143, 83, 160);
  color: white;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.modal {
  background-color: rgb(227, 172, 76, 0.9);
  color: black;
  border: 5px solid black;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 300px;
  left: calc(50% - 175px);
}

footer {
  background-color: white;
}

.footerContainer {
  width: 100%;
  padding: 10px 10px 10px;
  height: 1rem;
  position: relative;
  min-height: 20vh;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
}

.social a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

img {
  height: 60px;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 20px;
}

img :hover {
  background-color: black;
  transition: 0.5s;
}

.copyrights {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.d1 {
  background-color: var(--light);
  width: fit-content;
  margin: auto 1vw;
  font-size: 2rem;
  color: var(--secondary);
  border-radius: 1vh;
  padding: 0.55rem;
  user-select: none;
  display: inline-block;
  background-color: white;
}
